
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .-z-1 {
        z-index: -1;
    }
    .circle {
        height: 20px;
        width: 20px;
        @apply rounded-full;
    }
    .earth {
        width: 50%;
    }
    .mercury {
        width: 30%;
    }
    .venus {
        width: 45%;
    }
    .mars {
        width: 35%;
    }
    .jupiter {
        width: 65%;
    }
    .saturn {
        width: 65%;
    }
    .uranus {
        width: 55%;
    }
    .neptune {
        width: 50%;
    }
    .pointer {
        width: 25%;
    }
    .chevron {
        width: 3.5%;
    }
}